*{
    padding:0;
    margin:0;
}
body{
    background-color:#fdf5df;
    font-family: 'Courier New', Courier, monospace;
}

.blogs {
    width:50%;
    background-color:white;
    border-radius:7px;
    margin-left:4rem;
    margin-top:3rem;
    box-shadow:1px;
    margin-bottom:15px;
}
.blogs h1{
    background-color:#fecd45;
    color: #2568fb;
    border-radius:7px 7px 0px 0px;
}
.blogs h1, p{
    padding:5px;
}
.home{
    margin-left:10rem;
    position: absolute;
    margin-top:-2rem;
}
.blog{
    position:absolute;
    margin-top:-2rem;
    margin-left:28rem;
}
h1{
    font-size:2.25rem;
}
h3{
    font-size:1.25rem;
}
p{
    font-size:1.25rem;
}
.img1{
    float:right;
    padding:1rem;
}
.header{
    background-color:#fecd45;
    color:#2568fb;
    padding:1rem;
}
.main{
    padding:1rem;
    
}
.list{
    margin-top:1rem;
    list-style:none;
}
.question1{
    margin-top:1rem;
}
.distros{
    margin-top:1rem;
}
.resources{
    list-style: none;
    margin-top:2rem;
}
@media only screen and (max-width:800px) {
    .blogs{
        margin-left:3rem;
        width:75%;
    }
    .blog{
        position: relative;
        margin-left:0rem;
    }
 }
